
* {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Playfair Dispay", serif;
}

.container{
    margin: 0;   
    display: flex; 
    align-content: stretch;
    flex-wrap: nowrap;
    column-gap: 20px;
}

.card__img{
   padding: 0;
   margin: 10px;  
}

.card__text {
    padding: 0;
    margin: 30px;
    display: flex; 
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .product-list{
        flex-direction: column;
    }
    .product-card__img {
        min-width: 300px;
    }
}

